/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html {
    font-size: 15px;
    font-family: Inter, sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.content-wrapper {
    max-width: 100ch;
    margin-inline: auto;
}

.header {
    padding-block: 3em;
    display: flex;
    place-content: space-between;
    align-items: center;
}


nav>ul {
    font-size: 1rem;
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 1.5em;

}

nav>ul>li>a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);

}

nav>ul>li>a:hover {

    color: hsl(35, 77%, 62%);

}

#main-article>main {
    flex-basis: 100%;
}

#main-article>main>div {
    display: flex;
    gap: 3em;
    margin-top: 2em;
}

#main-article>main>div>* {
    flex: 1;
}

#main-article>main>div>h2 {
    font-weight: 800;
    font-size: 3em;
    line-height: 1;
}

#main-article>main span {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1.5;
    gap: 2em;
    color: hsl(236, 13%, 42%);
}

#main-article>main a {
    background: black;
    color: white;
    padding: 1.2em 2.5em;
    max-width: fit-content;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8em;
}

#main-article {
    display: flex;
}

#main-article aside {
    background: black;
    color: white;
    padding: 1.6em 1.2em 0.6em;
    margin-left: 3em;
    flex-basis: 50%;
}

#main-article h3 {
    color: hsl(35, 77%, 62%);
    font-size: 2.1em;
}

#main-article section p {
    color: hsl(233, 8%, 79%);
    padding-top: 0.9em;
    padding-bottom: 1.4em;
    line-height: 1.5;

}

#main-article h4 {
    font-size: 1.3em;
    margin-top: 1.2em;

}

#main-article hr {
    border-color: hsl(236, 13%, 42%);
}

#main-article h4:hover {

    color: hsl(35, 77%, 62%);

}

#other-articles {
    margin-top: 5em;
    display: flex;
    gap: 1em;

}

#other-articles>article {
    flex: 1;
    display: flex;
    gap: 1.5em;
}

#other-articles>article>img {
    object-fit: cover;
    flex-shrink: 1;
    width: 10ch;
}

#other-articles>article h4 {
    font-size: 2em;
    color: hsl(233, 8%, 79%);
    margin-bottom: 0.5em;
}

#other-articles>article h3 {
    font-size: 1.2em;
    color: black;
    margin-bottom: 0.5em;
}

#other-articles>article p {
    font-size: 0.9em;
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
}
#other-articles h3:hover {
    color: hsl(35, 77%, 62%);
}

    